{% extends 'base.html' %}

{% block navigation_items %}
    {% include 'components/nav_component.html' %}
{% endblock %}

{% block section %}
    <div class="container container-fluid font-for-text" style="outline: 1px solid gainsboro; border-radius: 10px; padding-block: 30px; width: 500px; gap: 30px;">
        <h1 class="text-center">Add Blog Post</h1>
        <br>
        <form method="POST" class="d-flex flex-column gap-2">
            {{ form.hidden_tag() }}

            {{ form.title.label(class="") }}
            {{ form.title(class="form-control") }}
            {{ form.content.label(rows="10")}}
            {{ form.content(class="form-control") }}
            {{ form.slug.label(class="")}}
            {{ form.slug(class="form-control") }}
            <div class="d-flex justify-content-center">
                {{ form.submit(class="btn button-bg-style margin-top-styling") }}
            </div>
        </form>
        {{ ckeditor.load() }}
        {{ ckeditor.config(name='content') }}
    </div>
{% endblock %}