{% extends 'base.html' %}

{% block navigation_items %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto gap-2">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{url_for('index')}}">Welcome</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{url_for('login')}}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{url_for('signup')}}">Sign-up</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block section %}
    <section class="font-for-text" style="text-align: center; padding-block: 100px;">
        <h1 class="display-3 fw-bold mb-1">
            Learn <span class="text-primary">Flask</span>. With <span class="text-success">Flask</span>.
        </h1>
        <p>Interactive Lessons and Projects</p>
        <div>
            <a href="{{url_for('login')}}"><button class="btn button-hero-style">Login</button></a>
            <a href="{{url_for('signup')}}"><button class="btn button-hero-style">Sign-up</button></a>
        </div>
    </section>
{% endblock %}