{% extends 'base.html' %}

{% block navigation_items %}
    {% include 'components/nav_component.html' %}
{% endblock %}

{% block section %}
  <div class="d-flex flex-column align-items-center gap-4 font-for-text">
      <div class="post-container-styling bg-white shadow-sm">
        <h3 class="fw-semibold mb-2">{{ post.title }}</h3>
        <p class="fs-5 text-secondary mb-3">{{ post.content | trim | safe }}</p>

        <div class="d-flex justify-content-between text-muted small mb-3">
            <a>By {{ post.author }}</a>
          <span class="ms-auto">{{ post.date_posted.strftime("%Y-%m-%d %H:%M:%S") }}</span>
          <div class="flex-shrink-0">
        </div>
        </div>
    
        <div>
          <a class="btn btn-sm btn-outline-primary" href="{{ url_for('posts') }}">
            Back to Blog
          </a>
        </div>
      </div>
  </div>
{% endblock %}