{% extends 'base.html' %}

{% block navigation_items %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto gap-2">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{url_for('dashboard')}}">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{url_for('posts')}}">Community</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{url_for('add_post')}}">Add Post</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{url_for('profile')}}">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{url_for('logout')}}">Logout</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block section %}
    <h1 class="font-for-text text-center">Community Posts</h1>
    <p class="font-for-text text-center fs-6">Interact with other people</p>

    <div class="d-flex flex-column align-items-center gap-5 font-for-text">
    {% for post in posts %}
        <div class="bg-light shadow-sm post-container-styling">
            <h3>{{post.title}}</h3><hr>
            <p class="fs-5">{{post.content}}</p><hr>
            <div>Post made by {{post.author}}</div>
            <div>Posted on {{post.date_posted}}</div>
            <a class="btn-sm btn-outline-secondary" href="{{url_for('post', id=post.id)}}">View Post</a>
        </div>
    {% endfor %}
    </div>
{% endblock %}