{% extends 'base.html' %}

{% block navigation_items %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto gap-2">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{url_for('dashboard')}}">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{url_for('profile')}}">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{url_for('logout')}}">Logout</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block section %}
    <h1 class="font-for-text text-center">Welcome back {{ current_user.name.title() }}!</h1>
{% endblock %}