{% extends 'base.html' %}

{% block navigation_items %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{url_for('index')}}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{url_for('login')}}">Login</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block section %}
    {% if name %}
        <h1>Welcome {{ name }}!</h1>
    {% else %}
        <div class="container container-fluid font-for-text" style="outline: 1px solid gainsboro; border-radius: 10px; padding-block: 30px; width: 500px; gap: 30px;">
            <h1 class="text-center">Sign-up</h1>
            <br>
            <form method="POST" class="d-flex flex-column gap-2">
                {{ form.hidden_tag() }}

                {{ form.name.label(class="form-label") }}
                {{ form.name(class="form-control") }}
                {{ form.email.label(class="form-label")}}
                {{ form.email(class="form-control")}}
                {{ form.password.label(class="form-label")}}
                {{ form.password(class="form-control")}}
                <div class="d-flex justify-content-center">
                    {{ form.submit(class="btn btn-primary") }}
                </div>

            </form>
        </div>
    {% endif %}
{% endblock %}